<!-- left sidebar  start -->


<% function isActive(targetRoute) { return req.originalUrl===targetRoute ? 'route-active' : '' ; } function
    isActiveParent(targetRoute) { return req.originalUrl.includes(targetRoute) ? 'route-active-parent' : '' ; } %>
    <div id="m-left-sidebar"
        style="background: #3D3D3D; min-width: 300px; height: 100vh!important; border:2px solid black ;color: white; position: sticky;">

        <div class="mb-3 pt-4" style="margin-right:20px;">
            <div class="d-flex justify-content-around">
                <span>Lets's set up your store</span>

                <span class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.0597032 10.052L5.1417 5.058L0.0597032 0.064H3.2277L8.2877 5.058L3.2277 10.052H0.0597032Z"
                            fill="#C9D2D7" />
                    </svg>
                </span>
            </div>

            <span class="dropdown">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>
            </span>
        </div>

        <div class="mb-3 ps-5"
            style="background: #d9d9d9; height: 3px; width: 100%; border-radius: 15px; position: relative">
            <div
                style="background-color:#60B2FF ;height: 4px; width: 25%; border-radius: 15px; position: absolute; top: -1px;left:0;">
            </div>
        </div>

        <div class="mb-3" style="margin-left:21px;">
            1/7 Completed
        </div>

        <div class="mb-3" style="background-color: white; height: 1px; width: 100%;"></div>

        <div class="mt-2">

            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <span> <svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.8889 5.66667L7.6622 9.89336C7.50819 10.0474 7.43119 10.1244 7.3424 10.1532C7.26429 10.1786 7.18015 10.1786 7.10205 10.1532C7.01325 10.1244 6.93625 10.0474 6.78224 9.89336L5.32887 8.43998C5.17486 8.28597 5.09786 8.20897 5.00906 8.18012C4.93096 8.15474 4.84682 8.15474 4.76872 8.18012C4.67992 8.20897 4.60292 8.28597 4.44891 8.43998L1 11.8889M11.8889 5.66667H8.77778M11.8889 5.66667V8.77778M4.73333 15H11.2667C12.5735 15 13.2269 15 13.726 14.7457C14.165 14.522 14.522 14.165 14.7457 13.726C15 13.2269 15 12.5735 15 11.2667V4.73333C15 3.42654 15 2.77315 14.7457 2.27402C14.522 1.83498 14.165 1.47802 13.726 1.25432C13.2269 1 12.5735 1 11.2667 1H4.73333C3.42654 1 2.77315 1 2.27402 1.25432C1.83498 1.47802 1.47802 1.83498 1.25432 2.27402C1 2.77315 1 3.42654 1 4.73333V11.2667C1 12.5735 1 13.2269 1.25432 13.726C1.47802 14.165 1.83498 14.522 2.27402 14.7457C2.77315 15 3.42654 15 4.73333 15Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <a href="/user/dashboard/<%=user_id%>/<%=template_id%>" style="text-decoration: none;color: white;">Dashboard</a>
                        </span>
                </div>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2 <%= isActive('/user/sitelist/' + user_id + '/' + template_id) %>"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <a class=" "
                        href="/user/sitelist/<%=user_id%>/<%=template_id%>"
                        style="text-decoration: none;color: white;width: 100%;">
                        <svg class="me-2" width="17" height="17" viewBox="0 0 17 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1943 14.4787V12.2109L14.6367 12.2116" fill="#C9D2D7" />
                            <path
                                d="M12.1943 12.2109V14.4787L14.6367 12.2116L12.1943 12.2109ZM12.1943 12.2109L15.2473 15.2639"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2 8.01561C2 7.64008 2.03451 7.27261 2.10053 6.9162H4.27141C4.23084 7.27311 4.20658 7.63299 4.19904 7.99479C4.19875 8.00867 4.19875 8.02256 4.19904 8.03644C4.20658 8.39824 4.23084 8.75812 4.27141 9.11503H2.10053C2.03451 8.75862 2 8.39115 2 8.01561ZM4.67783 4.9162H2.86182C3.52328 3.8224 4.52429 2.95691 5.71875 2.46582C5.27951 3.24079 4.93036 4.06303 4.67783 4.9162ZM6.78279 4.9162C7.08097 4.09764 7.48903 3.32002 7.99804 2.60569C8.50704 3.32002 8.9151 4.09764 9.21329 4.9162H6.78279ZM6.19906 8.01561C6.20755 7.64616 6.23707 7.27914 6.28698 6.9162H9.7091C9.759 7.27914 9.78852 7.64616 9.79701 8.01561C9.78852 8.38507 9.759 8.75208 9.7091 9.11503H6.28698C6.23707 8.75208 6.20755 8.38507 6.19906 8.01561ZM11.797 8.03644C11.7895 8.39824 11.7652 8.75812 11.7247 9.11503H13.8955C13.9616 8.75862 13.9961 8.39115 13.9961 8.01561C13.9961 7.64008 13.9616 7.27261 13.8955 6.9162H11.7247C11.7652 7.27311 11.7895 7.63299 11.797 7.99479C11.7973 8.00867 11.7973 8.02256 11.797 8.03644ZM7.99804 13.4255C7.48903 12.7112 7.08097 11.9336 6.78279 11.115H9.21329C8.9151 11.9336 8.50704 12.7112 7.99804 13.4255ZM4.67783 11.115C4.93036 11.9682 5.27951 12.7904 5.71875 13.5654C4.52429 13.0743 3.52328 12.2088 2.86182 11.115H4.67783ZM10.5881 12.979C10.4901 13.1772 10.3865 13.3728 10.2773 13.5654C10.38 13.5232 10.4813 13.4782 10.5811 13.4305L10.5575 14.951C10.5542 15.1671 10.6196 15.3683 10.7337 15.5336C9.8802 15.8442 8.95891 16.0137 7.99804 16.0137C3.58084 16.0137 0 12.4328 0 8.01561C0 3.59842 3.58084 0.0175781 7.99804 0.0175781C12.4152 0.0175781 15.9961 3.59842 15.9961 8.01561C15.9961 8.93342 15.8415 9.81512 15.5569 10.6361L11.6254 10.5752C11.0732 10.5666 10.6186 11.0074 10.6101 11.5596L10.5881 12.979ZM11.3182 4.9162H13.1343C12.4728 3.82239 11.4718 2.95691 10.2773 2.46582C10.7166 3.24079 11.0657 4.06303 11.3182 4.9162Z"
                                fill="#C9D2D7" />
                        </svg>
                        Site List</a>
                </div>

            </li>
            <li class="mb-3 ms-2 mt-2 me-2 rotate_icon"
                style="border-radius: 12px; list-style: none; color: white!important; text-decoration: none!important; ">

                <input type="checkbox" name="checking_input" id="checking_input_service" style="display:none"
                    class="checking_input">
                <label for="checking_input_service"
                    class="yy pa_list d-flex justify-content-between align-items-center p-2"
                    style="border-radius: 5px;">
                    <span> <svg class="me-2" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.3167 4.90658L7.84857 8.49998M7.84857 8.49998L1.38045 4.90658M7.84857 8.49998L7.84859 15.7291M14.6972 11.5884V5.41162C14.6972 5.15089 14.6972 5.02052 14.6588 4.90425C14.6248 4.80138 14.5692 4.70696 14.4958 4.6273C14.4128 4.53725 14.2989 4.47394 14.0709 4.34731L8.43988 1.21894C8.22407 1.09905 8.11616 1.0391 8.00189 1.0156C7.90075 0.9948 7.79644 0.9948 7.6953 1.0156C7.58102 1.0391 7.47312 1.09905 7.25731 1.21895L1.62624 4.34732C1.39832 4.47394 1.28436 4.53725 1.20137 4.6273C1.12796 4.70697 1.0724 4.80139 1.03842 4.90425C1 5.02052 1 5.15089 1 5.41163V11.5884C1 11.8491 1 11.9795 1.03842 12.0958C1.0724 12.1986 1.12796 12.293 1.20137 12.3727C1.28436 12.4627 1.39832 12.5261 1.62624 12.6527L7.25731 15.7811C7.47312 15.9009 7.58102 15.9609 7.6953 15.9844C7.79644 16.0052 7.90075 16.0052 8.00189 15.9844C8.11616 15.9609 8.22407 15.9009 8.43988 15.7811L14.0709 12.6527C14.2989 12.5261 14.4128 12.4627 14.4958 12.3727C14.5692 12.293 14.6248 12.1986 14.6588 12.0958C14.6972 11.9795 14.6972 11.8491 14.6972 11.5884Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> Service</span>
                    <svg class="move_icon me-3" width="11" height="9" viewBox="0 0 11 9" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.052 8.9403L5.058 3.8583L0.064 8.9403V5.7723L5.058 0.712296L10.052 5.7723L10.052 8.9403Z"
                            fill="#C9D2D7" />
                    </svg>
                </label>

                <ul class="ch_list <%= isActiveParent('/service/') %>">
                    <li>
                        <a class="txtt ps-2 pt-1 pb-1 pe-2 mt-2 mb-2 me-2 <%= isActive('/service/' + user_id + '/' + template_id + '/service_list') %>"
                            style="border: 1px solid transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/service/<%=user_id%>/<%=template_id%>/service_list">Services
                        </a>
                    </li>
                    <li>
                        <a class="txtt ps-2  pt-1 pb-1 pe-2 me-2 mb-2 <%= isActive('/service/' + user_id + '/' + template_id) %>"
                            style=" border: 1px solid  transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/service/<%=user_id%>/<%=template_id%>">Add Service
                        </a>
                    </li>
                    <li>
                        <a class="txtt ps-2  pt-1 pb-1 pe-2 me-2 <%= isActive('/service/' + user_id + '/' + template_id + '/appointment_list') %>"
                            style=" border: 1px solid  transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/service/<%=user_id%>/<%=template_id%>/appointment_list">Appointment List
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mb-3 ms-2 mt-2 me-2 rotate_icon"
                style="border-radius: 12px; list-style: none; color: white!important; text-decoration: none!important; ">

                <input type="checkbox" name="checking_input" id="checking_input" style="display:none"
                    class="checking_input">
                <label for="checking_input" class="yy pa_list d-flex justify-content-between align-items-center p-2"
                    style="border-radius: 5px;">
                    <span> <svg class="me-2" width="16" height="17" viewBox="0 0 16 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.3167 4.90658L7.84857 8.49998M7.84857 8.49998L1.38045 4.90658M7.84857 8.49998L7.84859 15.7291M14.6972 11.5884V5.41162C14.6972 5.15089 14.6972 5.02052 14.6588 4.90425C14.6248 4.80138 14.5692 4.70696 14.4958 4.6273C14.4128 4.53725 14.2989 4.47394 14.0709 4.34731L8.43988 1.21894C8.22407 1.09905 8.11616 1.0391 8.00189 1.0156C7.90075 0.9948 7.79644 0.9948 7.6953 1.0156C7.58102 1.0391 7.47312 1.09905 7.25731 1.21895L1.62624 4.34732C1.39832 4.47394 1.28436 4.53725 1.20137 4.6273C1.12796 4.70697 1.0724 4.80139 1.03842 4.90425C1 5.02052 1 5.15089 1 5.41163V11.5884C1 11.8491 1 11.9795 1.03842 12.0958C1.0724 12.1986 1.12796 12.293 1.20137 12.3727C1.28436 12.4627 1.39832 12.5261 1.62624 12.6527L7.25731 15.7811C7.47312 15.9009 7.58102 15.9609 7.6953 15.9844C7.79644 16.0052 7.90075 16.0052 8.00189 15.9844C8.11616 15.9609 8.22407 15.9009 8.43988 15.7811L14.0709 12.6527C14.2989 12.5261 14.4128 12.4627 14.4958 12.3727C14.5692 12.293 14.6248 12.1986 14.6588 12.0958C14.6972 11.9795 14.6972 11.8491 14.6972 11.5884Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> Inventory</span>
                    <svg class="move_icon me-3" width="11" height="9" viewBox="0 0 11 9" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.052 8.9403L5.058 3.8583L0.064 8.9403V5.7723L5.058 0.712296L10.052 5.7723L10.052 8.9403Z"
                            fill="#C9D2D7" />
                    </svg>
                </label>

                <ul class="ch_list <%= isActiveParent('/inventory/') %>">
                    <li>
                        <a class="txtt ps-2 pt-1 pb-1 pe-2 mt-2 mb-2 me-2 <%= isActive('/inventory/' + user_id + '/' + template_id + '/product_list') %>"
                            style=" border: 1px solid transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/inventory/<%=user_id%>/<%=template_id%>/product_list">Products
                        </a>
                    </li>
                    <li>
                        <a class="txtt ps-2  pt-1 pb-1 pe-2 me-2 mb-2 <%= isActive('/inventory/' + user_id + '/' + template_id + '/add_product') %>"
                            style=" border: 1px solid  transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/inventory/<%=user_id%>/<%=template_id%>/add_product">Add Products
                        </a>
                    </li>
                    <li>
                        <a class="txtt ps-2  pt-1 pb-1 pe-2 me-2 <%= isActive('/inventory/' + user_id + '/' + template_id + '/product_category') %>"
                            style="border: 1px solid  transparent;border-radius: 6px;display: block;text-decoration: none;color: white;"
                            href="/inventory/<%=user_id%>/<%=template_id%>/product_category">Product Category
                        </a>
                    </li>
                </ul>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2 <%= isActive('/inventory/' + user_id + '/'+ template_id + '/order_list') %>"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <a class="d-flex justify-content-between " style="display: block;text-decoration: none;color:white"
                    href="/inventory/<%=user_id%>/<%=template_id%>/order_list">
                    <span> <svg class="me-2" width="15" height="17" viewBox="0 0 15 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 8.875V4.6C13 3.33988 13 2.70982 12.7548 2.22852C12.539 1.80516 12.1948 1.46095 11.7715 1.24524C11.2902 1 10.6601 1 9.4 1H4.6C3.33988 1 2.70982 1 2.22852 1.24524C1.80516 1.46095 1.46095 1.80516 1.24524 2.22852C1 2.70982 1 3.33988 1 4.6V12.4C1 13.6601 1 14.2902 1.24524 14.7715C1.46095 15.1948 1.80516 15.539 2.22852 15.7548C2.70982 16 3.33988 16 4.6 16H7M8.5 7.75H4M5.5 10.75H4M10 4.75H4M8.875 13.75L10.375 15.25L13.75 11.875"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>Order List</span>
                </a>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <span> <svg class="me-2" width="18" height="17" viewBox="0 0 18 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.62952 2.6916L7.50823 1.42882C7.69517 1.16017 8.00175 1 8.32905 1H9.42219C9.74827 1 10.0539 1.15898 10.241 1.426L11.1097 2.66524M6.62952 2.6916C6.36938 3.06273 5.93697 3.24459 5.47801 3.21217M6.62952 2.6916C6.36811 3.06184 5.93697 3.2461 5.47801 3.21217M5.47801 3.21217L3.91893 3.11429C3.59808 3.09414 3.28711 3.22948 3.0832 3.47801L2.39575 4.31584C2.17955 4.57933 2.11245 4.9348 2.21771 5.25898L2.66736 6.64378M2.66736 6.64378C2.73406 6.86003 2.74259 7.0917 2.69486 7.3105M2.66736 6.64378C2.735 6.85965 2.74322 7.09085 2.69454 7.31274M2.69486 7.3105C2.6465 7.52672 2.54282 7.73087 2.38889 7.89619M2.69486 7.3105L2.69454 7.31274M2.38889 7.89619L1.36575 8.9966C1.13735 9.24225 1.04732 9.58605 1.126 9.91211L1.36504 10.9027C1.44346 11.2277 1.67911 11.492 1.99301 11.607L3.39879 12.1222C3.61246 12.2049 3.79706 12.3393 3.93677 12.5086M2.38889 7.89619C2.54377 7.73222 2.6465 7.52873 2.69454 7.31274M3.93677 12.5086C4.07553 12.6784 4.17004 12.8834 4.20671 13.1053M3.93677 12.5086C4.07679 12.6784 4.17162 12.8828 4.20671 13.1053M3.93677 12.5086L3.93455 12.5062C3.92539 12.4951 3.91559 12.4835 3.90611 12.4727M4.20671 13.1053L4.44616 14.5762C4.49943 14.9034 4.71138 15.1829 5.01206 15.3225L5.99696 15.7798C6.28803 15.9149 6.62627 15.9021 6.90633 15.7455L8.23018 15.0048M8.23018 15.0048C8.429 14.8931 8.65089 14.8371 8.87279 14.8369M8.23018 15.0048C8.30889 14.96 8.39139 14.9243 8.4761 14.8975C8.60475 14.8567 8.73877 14.8366 8.87279 14.8369M8.87279 14.8369C8.98816 14.8371 9.10353 14.8524 9.21606 14.8825C9.32068 14.9105 9.42246 14.9514 9.51887 15.0048M8.87279 14.8369C9.09563 14.8366 9.31879 14.8925 9.51887 15.0048M9.51887 15.0048L10.9096 15.7576C11.1908 15.9099 11.528 15.9185 11.8166 15.7806L12.7971 15.3123C13.0967 15.1692 13.3057 14.8867 13.355 14.5584L13.5689 13.1335M13.5689 13.1335C13.604 12.9103 13.6972 12.7039 13.8357 12.5326M13.5689 13.1335C13.6027 12.9098 13.6966 12.7037 13.8357 12.5326M13.8357 12.5326C13.9732 12.3631 14.1556 12.228 14.368 12.1445M13.8357 12.5326C13.9729 12.3624 14.1546 12.227 14.368 12.1445M14.368 12.1445L15.7921 11.5863C16.1001 11.4656 16.3285 11.2005 16.4021 10.878L16.6326 9.86893C16.7061 9.54731 16.6162 9.21015 16.3924 8.96779L15.3605 7.85047M15.3605 7.85047C15.2037 7.68458 15.0943 7.48641 15.0412 7.2758M15.3605 7.85047C15.2868 7.77299 15.2236 7.68829 15.1721 7.59848C15.1133 7.4965 15.0694 7.38795 15.0412 7.2758M15.0412 7.2758C14.9891 7.0667 14.9922 6.84512 15.0583 6.63064L15.5031 5.20507C15.6034 4.88327 15.535 4.53254 15.3209 4.27216L14.6545 3.46173C14.4483 3.21084 14.133 3.07576 13.8091 3.09949L12.2707 3.21217M12.2707 3.21217C12.0425 3.22828 11.8181 3.18481 11.6183 3.09129M12.2707 3.21217C12.0422 3.22921 11.8181 3.18539 11.6183 3.09129M11.6183 3.09129C11.4173 2.99657 11.2409 2.85092 11.1097 2.66524M11.6183 3.09129C11.417 2.99692 11.2403 2.85166 11.1097 2.66524M2.69454 7.31274L2.69518 7.30946M11.4144 8.50796C11.4144 9.90668 10.255 11.0405 8.82506 11.0405C7.39508 11.0405 6.23567 9.90668 6.23567 8.50796C6.23567 7.10925 7.39508 5.9754 8.82506 5.9754C10.255 5.9754 11.4144 7.10925 11.4144 8.50796Z"
                                stroke="#C9D2D7" stroke-width="2" />
                        </svg>CMS</span>
                </div>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <span> <svg class="me-2" width="18" height="16" viewBox="0 0 18 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.4118 15V9.23529M8.82353 15V6.76471M2.23529 15L2.23529 11.7059M9.98197 2.66971L14.2383 4.26585M7.83428 2.97723L3.22372 6.43515M16.2852 3.8324C16.7677 4.31481 16.7677 5.09696 16.2852 5.57937C15.8028 6.06178 15.0207 6.06178 14.5383 5.57937C14.0559 5.09696 14.0559 4.31481 14.5383 3.8324C15.0207 3.34999 15.8028 3.34999 16.2852 3.8324ZM3.10878 6.30299C3.59119 6.7854 3.59119 7.56754 3.10878 8.04996C2.62637 8.53237 1.84422 8.53237 1.36181 8.04996C0.879397 7.56754 0.879397 6.7854 1.36181 6.30299C1.84422 5.82057 2.62637 5.82057 3.10878 6.30299ZM9.69701 1.36181C10.1794 1.84422 10.1794 2.62637 9.69701 3.10878C9.2146 3.59119 8.43246 3.59119 7.95004 3.10878C7.46763 2.62637 7.46763 1.84422 7.95004 1.36181C8.43246 0.879397 9.2146 0.879397 9.69701 1.36181Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Analytics</span>
                </div>
            </li>
            <li class="mb-3 ms-2 mt-2 me-2 rotate_icon"
                style="list-style: none; color: white!important; text-decoration: none!important; ">

                <input type="checkbox" name="checking_input1" id="checking_input1" style="display:none"
                    class="checking_input">

                <label for="checking_input1" class="pa_list yy d-flex justify-content-between align-items-center p-2 yy"
                    style="border-radius: 5px;">
                    <span style="border: 1px solid transparent;"> <svg class="me-2" width="17" height="17"
                            viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 1H1.97962C2.16414 1 2.25639 1 2.33064 1.03393C2.39606 1.06383 2.45151 1.11192 2.49036 1.17246C2.53445 1.24116 2.5475 1.33249 2.57359 1.51515L2.92857 4M2.92857 4L3.71749 9.79855C3.8176 10.5344 3.86766 10.9023 4.04357 11.1793C4.19858 11.4233 4.42081 11.6173 4.68352 11.738C4.98165 11.875 5.35296 11.875 6.09558 11.875H12.514C13.2209 11.875 13.5744 11.875 13.8632 11.7478C14.1179 11.6357 14.3364 11.4549 14.4942 11.2257C14.6732 10.9657 14.7393 10.6185 14.8716 9.92407L15.8643 4.71227C15.9109 4.46786 15.9342 4.34565 15.9004 4.25012C15.8708 4.16633 15.8124 4.09576 15.7357 4.05101C15.6481 4 15.5237 4 15.2749 4H2.92857ZM7 15.25C7 15.6642 6.66421 16 6.25 16C5.83579 16 5.5 15.6642 5.5 15.25C5.5 14.8358 5.83579 14.5 6.25 14.5C6.66421 14.5 7 14.8358 7 15.25ZM13 15.25C13 15.6642 12.6642 16 12.25 16C11.8358 16 11.5 15.6642 11.5 15.25C11.5 14.8358 11.8358 14.5 12.25 14.5C12.6642 14.5 13 14.8358 13 15.25Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>Cart</span>
                    <!-- <span class="ms-2 rotated" id="mySvg" style="border: 1px solid blue;"> -->
                    <svg class="me-3" width=" 11" height="9" viewBox="0 0 11 9" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.052 8.9403L5.058 3.8583L0.064 8.9403V5.7723L5.058 0.712296L10.052 5.7723L10.052 8.9403Z"
                            fill="#C9D2D7" />
                    </svg>
                    <!-- </span> -->
                </label>
                <ul class="ch_list">
                    <li class="txtt ps-2 pt-1 pb-1 pe-2 mt-2 mb-2 me-2 "
                        style="background: #504E4E; border: 1px solid transparent;border-radius: 6px;">Cart
                        Templates</li>

                    <!-- <li class="p-1 mt-2 mb-2" style="background: #504E4E; order: 1px solid transparent;border-radius: 12px; list-style-type:circle!important;">Cart Templates</li> -->
                </ul>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <span> <svg class="me-2" width="15" height="17" viewBox="0 0 15 17" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.1 5.5V3.4C10.1 2.55992 10.1 2.13988 9.95831 1.81901C9.83367 1.53677 9.6348 1.3073 9.39019 1.16349C9.1121 1 8.74807 1 8.02 1H3.08C2.35193 1 1.9879 1 1.70981 1.16349C1.4652 1.3073 1.26633 1.53677 1.14169 1.81901C1 2.13988 1 2.55992 1 3.4V9.1C1 9.94008 1 10.3601 1.14169 10.681C1.26633 10.9632 1.4652 11.1927 1.70981 11.3365C1.9879 11.5 2.35193 11.5 3.08 11.5H4.9M6.98 16H11.92C12.6481 16 13.0121 16 13.2902 15.8365C13.5348 15.6927 13.7337 15.4632 13.8583 15.181C14 14.8601 14 14.4401 14 13.6V7.9C14 7.05992 14 6.63988 13.8583 6.31901C13.7337 6.03677 13.5348 5.8073 13.2902 5.66349C13.0121 5.5 12.6481 5.5 11.92 5.5H6.98C6.25193 5.5 5.8879 5.5 5.60981 5.66349C5.3652 5.8073 5.16633 6.03677 5.04169 6.31901C4.9 6.63988 4.9 7.05992 4.9 7.9V13.6C4.9 14.4401 4.9 14.8601 5.04169 15.181C5.16633 15.4632 5.3652 15.6927 5.60981 15.8365C5.8879 16 6.25193 16 6.98 16Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>All Templates</span>
                </div>
            </li>
            <li class="yy  p-2 mb-3 ms-2 mt-2 me-2"
                style="border-radius: 12px ; list-style: none; color: white!important; text-decoration: none!important; ">
                <div class="d-flex justify-content-between">
                    <span><svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.2 1H2.24444C1.80885 1 1.59105 1 1.42467 1.08477C1.27833 1.15934 1.15934 1.27833 1.08477 1.42467C1 1.59105 1 1.80885 1 2.24444V5.2C1 5.6356 1 5.85339 1.08477 6.01977C1.15934 6.16612 1.27833 6.2851 1.42467 6.35967C1.59105 6.44444 1.80885 6.44444 2.24444 6.44444H5.2C5.6356 6.44444 5.85339 6.44444 6.01977 6.35967C6.16612 6.2851 6.2851 6.16612 6.35967 6.01977C6.44444 5.85339 6.44444 5.6356 6.44444 5.2V2.24444C6.44444 1.80885 6.44444 1.59105 6.35967 1.42467C6.2851 1.27833 6.16612 1.15934 6.01977 1.08477C5.85339 1 5.6356 1 5.2 1Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M13.7556 1H10.8C10.3644 1 10.1466 1 9.98023 1.08477C9.83388 1.15934 9.7149 1.27833 9.64033 1.42467C9.55556 1.59105 9.55556 1.80885 9.55556 2.24444V5.2C9.55556 5.6356 9.55556 5.85339 9.64033 6.01977C9.7149 6.16612 9.83388 6.2851 9.98023 6.35967C10.1466 6.44444 10.3644 6.44444 10.8 6.44444H13.7556C14.1912 6.44444 14.409 6.44444 14.5753 6.35967C14.7217 6.2851 14.8407 6.16612 14.9152 6.01977C15 5.85339 15 5.6356 15 5.2V2.24444C15 1.80885 15 1.59105 14.9152 1.42467C14.8407 1.27833 14.7217 1.15934 14.5753 1.08477C14.409 1 14.1912 1 13.7556 1Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M13.7556 9.55556H10.8C10.3644 9.55556 10.1466 9.55556 9.98023 9.64033C9.83388 9.7149 9.7149 9.83388 9.64033 9.98023C9.55556 10.1466 9.55556 10.3644 9.55556 10.8V13.7556C9.55556 14.1912 9.55556 14.409 9.64033 14.5753C9.7149 14.7217 9.83388 14.8407 9.98023 14.9152C10.1466 15 10.3644 15 10.8 15H13.7556C14.1912 15 14.409 15 14.5753 14.9152C14.7217 14.8407 14.8407 14.7217 14.9152 14.5753C15 14.409 15 14.1912 15 13.7556V10.8C15 10.3644 15 10.1466 14.9152 9.98023C14.8407 9.83388 14.7217 9.7149 14.5753 9.64033C14.409 9.55556 14.1912 9.55556 13.7556 9.55556Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M5.2 9.55556H2.24444C1.80885 9.55556 1.59105 9.55556 1.42467 9.64033C1.27833 9.7149 1.15934 9.83388 1.08477 9.98023C1 10.1466 1 10.3644 1 10.8V13.7556C1 14.1912 1 14.409 1.08477 14.5753C1.15934 14.7217 1.27833 14.8407 1.42467 14.9152C1.59105 15 1.80885 15 2.24444 15H5.2C5.6356 15 5.85339 15 6.01977 14.9152C6.16612 14.8407 6.2851 14.7217 6.35967 14.5753C6.44444 14.409 6.44444 14.1912 6.44444 13.7556V10.8C6.44444 10.3644 6.44444 10.1466 6.35967 9.98023C6.2851 9.83388 6.16612 9.7149 6.01977 9.64033C5.85339 9.55556 5.6356 9.55556 5.2 9.55556Z"
                                stroke="#C9D2D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>Apps</span>
                </div>
            </li>
        </div>
    </div>
    <!-- left sidebar  end -->